// SOCIAL STATS

.social-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-card {
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 15px 15px;
}

.social-icn {
    background-color: #7477bf;
    border-radius: 50%;
    height: 60px;
    width: 60px;

    & path {
        height: 40px;
        width: 40px;
    }
}

.social-text {
    margin-left: 10px;

    & h4 {
        font-size: .9em;
        color: #7477bf;
    }

    & p {
        font-size: 1.6em;
    }
}

@media (min-width: 768px) {

    .social-stats {
        padding: 0 10px;
    }

    .social-area {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 1024px) {
    .social-stats {
        width: 90vw;
    }

    .social-card {
        width: 30%;
    }
    
    .social-text p {
        font-size: 2.5em;
    }
}